<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for ('static', filename='css/login.css')}}">
    <link rel="icon" href="{{url_for('static', filename='img/logo1.png')}}" sizes="48x48">
    <title>Log in | Inicio de sesión</title>
</head>
<body>

    <main>
        <section>
            <div class="row">
                <div class="col-lg-5">
                    <img src="{{url_for('static', filename='img/Logo.png')}}" alt="Logo" id="Logo">
                    <h2>¡Bienvenido de nuevo!</h2>
                    <form class="form-control" action="login" method="post">        
                        <label for="email">Email:</label>
                        <br>
                        <input type="email" id="email" name="email" placeholder="Digite su correo electronico" required>
                        <br>
                        <label for="password">Contraseña:</label>
                        <br>
                        <input type="password" id="contraseña" name="contrasenia"placeholder="Digite su contraseña" minlength="6" maxlength="10" required>
                        <br>
                        <p class="msj">¿No tienes una cuenta? <a href="registro">Click aquí</a> para registrarte.</p>
                        <button type="submit">Ingresar</button>
                    </form>
                    <a class="ini" href="index">Volver al Inicio</a>
                </div>
                <div class="col-lg-7">
                    <img src="{{url_for('static', filename='img/Img.png')}}" alt="ImgBg" id="ImgBg">
                </div>
                <!--Estos son los mensajes de validacion, despues los puedes poner dentro el formulario-->
                {%with messages=get_flashed_messages()%}
                {%if messages%}
                {%for message in messages%}      
                <p>{{message}}</p>
                {%endfor%}
                {%endif%}
                {%endwith%}
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>  
</body>
</html>


