<!-- Que es esto? -->
{%with messages=get_flashed_messages()%}
{%if messages%}
{%for message in messages%}      
<h2>{{message}}</h2>
{%endfor%}
{%endif%}
{%endwith%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for ('static', filename='css/registro.css')}}">
    <title>Registro</title>
</head>
<body>
    <header>
        <img src="{{url_for ('static', filename='img/logo.png')}}" alt="logo">
        <h1>Formulario de registro</h1>
    </header>
    <main>
        <form action="/registro" method="POST">
        <div class="row">
            <h5>Datos personales</h5>
            <div class="col-lg-6">
                <!-- Todos los campos son obligatorios -->
                <!-- Campo de tipo de documento -->
                <label for="tipodocumento">Tipo de documento:</label>
                <br>
                <select id="tipo_documento" name="Tipo de documento">
                    <option selected>Selecciona una opción</option>
                    <option value="cedula">Cédula de ciudadania</option>
                    <option value="tarjeta">Tarjeta de identidad</option>
                    <option value="pasaporte">Pasaporte</option>
                    <option value="otro">Otro</option>
                </select>

                <!-- Campo de nombres -->
                <label>Nombres:</label>
                <br>
                <input type="text" id="nombres" name="nombres" placeholder="Digite su primer y segundo nombre " required>
                <br>
                <!-- Campo sexo -->
                <label>Sexo:</label>
                <br>
                <input type="radio" id="sexo_masculino" name="sexo" value="Masculino" required>
                <label for="sexo_masculino">Masculino</label>
                <input type="radio" id="sexo_femenino" name="sexo" value="Femenino" required>
                <label for="sexo_femenino">Femenino</label>
                <input type="radio" id="sexo_otro" name="sexo" value="Otro" required>
                <label for="sexo_otro">Otro</label>
                <br>

                <!-- Campo fecha de nacimiento -->
                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                <br>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
                <br>
                <!-- Telefono celular -->
                <label for="telefono_celular">Teléfono celular:</label>
                <input type="text" id="telefono_celular" name="telefono_celular" placeholder="Teléfono celular">
                <br>
                <!-- Telefono fijo -->
                <label for="telefono_fijo">Teléfono fijo:</label>
                <input type="text" id="telefono_fijo" name="telefono_fijo" placeholder="Teléfono fijo">
                <br>
                <!-- Nivel educativo -->
                <label for="nivel_educativo">Nivel Educativo:</label>
                <br>
                <input type="text" id="nivel_educativo" name="nivel_educativo" placeholder="Ej: Bachillerato" readonly>
                <br>

                <!-- Conectividad a internet -->
                <label>¿Tiene Conectividad a Internet?</label>
                <br>
                <input type="radio" id="conectividad_internet_si" name="conectividad_internet" value="Sí" required>
                <label for="conectividad_internet_si">Sí</label>
                <input type="radio" id="conectividad_internet_no" name="conectividad_internet" value="No" required>
                <label for="conectividad_internet_no">No</label>
            </div>
            
            <div class="col-lg-6">
                <!-- # Docuemnto -->
                <label for="numero_documento">Número de Documento:</label>
                <br>
                <input type="number" id="numero_documento" name="numero_documento" placeholder="Digite el numero de su documento " required>
                <br>
                <!-- Campo apellidos -->
                <label for="apellidos">Apellidos:</label>
                <br>
                <input type="text" id="apellidos" name="apellidos" placeholder="Digite su primer y segundo apellido " required>
                <br>
                <!-- Etnia -->
                <label for="etnia">Etnia:</label>
                <br>
                <select id="etnia" name="etnia">
                    <option selected>Selecciona una opción</option>
                    <option value="1">Indigena</option>
                    <option value="2">Afrodesendiente</option>
                    <option value="3">Mestizo</option>
                    <option value="4">Blanco</option>
                    <option value="5">Otro</option>
                </select>
                <br>
                <!--Condicion de discapacidad -->
                <label>¿Tiene Discapacidad?</label>
                <br>
                <input type="radio" id="discapacidad_si" name="discapacidad" value="Sí" required>
                <label for="discapacidad_si">Sí</label>
                <input type="radio" id="discapacidad_no" name="discapacidad" value="No" required>
                <label for="discapacidad_no">No</label>
                <br>
            
                <!-- Acceso dispositivos tecnologicos -->
                <label>¿Tiene Acceso a Dispositivos Tecnológicos?</label>
                <br>
                <input type="radio" id="acceso_tecnologico_si" name="acceso_tecnologico" value="Sí" required>
                <label for="acceso_tecnologico_si">Sí</label>
                <input type="radio" id="acceso_tecnologico_no" name="acceso_tecnologico" value="No" required>
                <label for="acceso_tecnologico_no">No</label>
                <br>
                <!-- Si la respuesta anterior es sí, ¿Cuáles? (ENUM, modificable) -->
                <label>Si la respuesta anterior es Sí, ¿Cuáles?</label>
                <br>
                <select id="dispositivos_tecnologicos" name="dispositivos_tecnologicos">
                    <option value="PC">PC</option>
                    <option value="Tablet">Tablet</option>
                    <option value="Smartphone">Smartphone</option>
                    <option value="Otro">Otro</option>
                </select>
                <br>
                <!-- Regimen -->
                <label for="regimen_afiliacion">Régimen de Afiliación:</label>
                <br>
                <select id="regimen_afiliacion" name="regimen_afiliacion" required>
                    <option selected>Selecciona una opción</option>
                    <option value="Contributivo">Contributivo</option>
                    <option value="Subsidiado">Subsidiado</option>
                    <option value="Especial">Especial</option>
                </select>
            </div> 
        </div>
        <div class="row">
            <h5>Datos de residencia</h5>
            <div class="col-lg-6">
                <!-- Campo Municipio -->
                <label for="municipio">Municipio:</label>
                <br>
                <input type="text" id="municipio" name="municipio" placeholder="Ej: Medellin" required>
                <br>
                <!--Campo Barrio o vereda -->
                <label for="barrio_vereda">Barrio o Vereda:</label>
                <br>
                <input type="text" id="barrio_vereda" name="barrio_vereda" placeholder="Ej: Comuna 1 - Popular " required>
                <br>
            </div>
            <div class="col-lg-6">
                <!-- Campo de Direccion -->
                <label for="direccion">Dirección:</label>
                <br>
                <input type="text" id="direccion" name="direccion" placeholder="Digite su dirección de residencia" required>
                <br>
                <!-- Campo del estrato -->
                <label for="estrato_residencia">Estrato de Residencia:</label>
                <br>
                <input type="number" id="estrato_residencia" name="estrato_residencia" placeholder="Ej: 1 2 3 ..." required>
                <br>
            </div>
        </div>
        <div class="row">
            <h5>Datos de inicio de sesión</h5>
            <div class="col-lg-6">
                <label for="email">Email:</label>
                <br>
                <input type="email" id="email" name="email" placeholder="Digite su correo electronico" required>
            </div>
            <div class="col-lg-6">
                <label for="password">Contraseña:</label>
                <br>
                <input type="password" id="contraseña" name="contraseña"placeholder="Digite su contraseña" required>
                <br>
            </div>
        </div>
        <button type="submit">Registrame</button>
        <button type="button" onclick="window.location.href='index.html'">Cancelar</button>
        </form>
    </main>
</body>
</html>